nav{
    div{
        a{
            .Logo{
                width: 100px;
            }
        }
    }
}
div{
    .st1{
        width: 100%;
        
    }
}
body{
.empresa2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

}
body{
.empresa{
    font-size: 25px
}
}
body{
.empresa{
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}
}
footer{
    .logooo{
        height: 80px;
        margin-bottom: 1rem;
    }
}
body{
    .social-icons-container, .footer-menu-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
}
footer{
    .Redes{
        display: inline;
}
.Redes1{
    display: inline-block;
}
.Redes1{
    margin: 30px;
}
}