
  header{
    nav{
        div{
            a{
                .Logo{
                    width: 100px;
                }
            }
        }
    }

  }

    .banner{
        width: 100%;
    }



    footer{
        .Redes{
            display: inline;
    }
    .Redes1{
        display: inline-block;
    }
    .Redes1{
        margin: 30px;
    }
}